.main_content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 70% 15%;
    gap: 20px;
    background-color: blueviolet;
}

.header {
    grid-row: 1;
    background-color: blueviolet;
}

.header div {
    display: flex;
    justify-content: center;
}

.header div:not(:first-child){
    margin-left: 70px;
}

.header span {
    font-size: larger;
    
}

.footer {
    grid-row: 3;
    background-color: blueviolet;
}

.main {
    background-color: beige;
    grid-row:2
}