.main_content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 70% 20%;
    gap: 20px;
   
}

.header {
    grid-row: 1;
    background-color: rgb(169, 118, 218);
    text-align: center;
    
}

.header div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.header div:not(:first-child){
    margin-left: 70px;
}

.header span {
    font-size: larger;
    
}

.footer {
    grid-row: 3;
    background-color: rgb(169, 118, 218);
}

.main {
    background-color: beige;
    grid-row:2
}